<div class="">

    <div class="text-center">

        <div ng-show="signedIn==false">
            <h2>Login or Register with:</h2>
            <span class="fa fa-lock">   
                <span id="googleSignIn">
                    <span id="signInButton">
                    </span>
            </span>
            </span>
        </div>
        <div ng-show="signedIn==true && showFormButton==true">
            <h2>You are logged in as:{{username}}</h2>
            <a href="ratingForm">Proceed to rating Form</a>
            <input type="submit" class="btn btn-default" data-ng-click="signOut()" value="Logout">
        </div>

    </div>

</div>
